{% extends 'homepage.html' %}
{% load static %}
{% block content%}  
<div class="page-container">
  <div class="content-wrap">
    {% include 'include/header.html' %}
        <main>
          <section class="about">
            <div class="container">
              <div class="row">
                <div class="col-6">
                  <p class="about__text">
                    Эксплуатацияга берилген жылы <br />
                    <strong>— корпус А-1990 Ж</strong> <br />
                    <strong> — корпус Б-1952 Ж,</strong> <br />
                    <strong> — корпус В-1976 ж</strong> <br />
                    -капиталдык ремонттон өтө элек. <br />
                    Мектептин жалпы аянты <strong>— 8417 кв\м</strong> <br />
                    жылытуу: <strong>электрик___</strong> <br />
                    Мектептин проектилик кубаттуулугу
                    <strong>– 1200 окуучу</strong> <br />
                    Мектеп типтүү имаратта жайгашкан:
                    <strong> — корпус А-1990 ж,</strong> <br />
                    <strong>— корпус Б-1952ж,</strong> <br />
                    <strong>— корпус В-1976ж.</strong> <br />
                    <strong>электрдик жылытуу.</strong> <br />
                    <strong
                      >Мектепте кабинеттик система боюнча окуу процессии</strong
                    >
                    <br />
                    уюштурулган <br />
                    Предметтик кабинеттердин саны; <strong>— 50</strong> <br />
                    <strong
                      >Анын ичиннен заманбап эмеректер менен жабдылган</strong
                    >
                    кабинет: 28
                  </p>
                </div>
                <div class="col-6">
                  <p class="about__text">
                    Информатика кабинети <strong>— 1</strong> <br />
                    Химиялык кабинет <strong> — 2</strong> <br />
                    Физика кабинети <strong>— 1</strong> <br />
                    Аскерге чейинки даярдоо кабинети <strong>— 1</strong> <br />
                    Спортзал <strong>— 2</strong> <br />
                    Актовый зал <strong>— 1 (350 орундуу)</strong> <br />
                    Спорттук аянтча <strong>— 1</strong> Китепкана
                    <strong>— 1</strong> <br />
                    Окуу залы <strong>— 1 (20 орундуу)</strong> <br />
                    Ашкана <strong>— 1 (120 орундуу)</strong> <br />
                    Географиялык аянтча <strong>— 1</strong> <br />
                    Мастерская <strong>— 2</strong> <br />
                    <strong>Пушкин залы,</strong> <br />
                    <strong>Манас залы,</strong> <br />
                    <strong>Экологиялык залы,</strong> <br />
                    <strong>Теннис залы</strong>
                  </p>
                </div>
              </div>
            </div>
          </section>
          <section class="studies">
            <div class="container">
              <div class="studies__container">
                <div class="row">
                  <div class="col-6">
                    <div class="studies__content">
                      <h3 class="studies__content-title">
                        Окуу процессин уюштуруу.
                      </h3>
                      <span></span>
                      <p class="studies__content-text">
                        Иш режими: <b>6 кундук.</b> Окуу саат
                        <b>8\30-13\40</b> чейин 1 сменада жүргүзүлөт.
                      </p>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="studies__content">
                      <h3 class="studies__content-title">
                        Педагогика-психологиялык проблема:
                      </h3>
                      <span></span>
                      <p class="studies__content-text">
                        Адеп ахлактык тарбия менен бирге терең жана туруктуу
                        <br />
                        билим берүү.
                      </p>
                    </div>
                  </div>
                </div>
                <span></span>
              </div>
              <div class="studies__wrap">
                <h3>Билим берүү мекемесинин сапаттык жана сандык составы.</h3>
                <div class="row">
                  <div class="col-6">
                    <p class="studies__wrap-text">
                      орто атайын билимдүүлөр <strong>— 6</strong> <br />
                      *КРдин Билим берүүсүнүн мыктылары <strong>— 25</strong>
                      <br />
                      *КРдин Эмгек сиңирген мугалимдерди___ <br />
                      * КРдин Эл мугалимдерди____ <br />
                      * “Даңк” медалы менен сыйлангандар__ <br />
                      <strong>Педагогикалык стажысы барлар;</strong> <br />
                      *3 жылга чейинкилер <strong>— 3</strong> <br />
                      * 3 жылдан 5 жылга чейинкилер <strong>— 0</strong> <br />
                      * 5 жылдан 10 жылга чейинкилер <strong>— 13</strong>
                      <br />
                      * 10 жылдан 15 жылга чейинкилер <strong>— 6</strong>
                      <br />
                      *15 жыл жана андан жогоркулар <strong>— 37</strong>
                    </p>
                  </div>
                  <div class="col-6">
                    <p class="studies__wrap-text">
                      <strong>Мекеменин кызматкерлери:</strong> <br />
                      Мугалимдер <strong>— 65</strong> <br />
                      Соц. педагог <strong>— 1</strong> <br />
                      Музыкалык жетекчи <strong>— 1</strong> <br />
                      Дене тарбия боюнча инструктор: <strong>1</strong> <br />
                      Мед. айым
                      <strong>— 1</strong>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      {% include 'include/footer.html' %}
    </div>
    {% endblock %}