{% extends 'homepage.html' %}
{% load static %}
{% block content%}

<div class="page-container">
  <div class="content-wrap">
    {% include 'include/header.html' %}
        <main class="container">
          <section class="hello">
            <h3 class="hello__title">Привет, мир!</h3>
            <div class="hello__links">
              <a class="hello__links-text" href="">1 Комментарий</a>
              /
              <a class="hello__links-text" href="">Без рубрики</a>
              / от
              <a class="hello__links-text" href="">adminpush</a>
            </div>
            <p class="hello__text">
              Добро пожаловать в WordPress. Это ваша первая запись.
              Отредактируйте или удалите ее, затем начинайте создавать!
            </p>
          </section>
          <section class="comments">
            <h3 class="comments__title">1 комментарий к “Привет, мир!”</h3>
            <div class="comments__content">
              <div class="comments__logo">
                <img
                  src="./images/d7a973c7dab26985da5f961be7b74480.png"
                  alt=""
                />
                <div class="comments__content-text">
                  <b><a href="">КОММЕНТАТОР WORDPRESS</a></b>
                  <a class="hover" href="">13.09.2022 В 12:30</a>
                </div>
              </div>
              <p class="comments__text">
                Привет! Это комментарий. <br />
                Чтобы начать модерировать, редактировать и удалять комментарии,
                перейдите на экран «Комментарии» в консоли. <br />
                Аватары авторов комментариев загружаются с сервиса
                <a href="">Gravatar.</a>
              </p>
              <div class="comments__wrap">
                <p class="comments__wrap-text" href="" id="open">Ответить</p>
              </div>
            </div>
            <div class="comments__answer" id="answer">
              <div class="comment__ansver-logo">
                <h3 class="comments__answer-title">
                  Комментарий к записи Комментатор WordPress
                  <p id="close" class="open" href="">Отменить ответ</p>
                </h3>
              </div>
              <form action="" class="comments__form">
                <p class="comments__form-text">
                  Ваш адрес email не будет опубликован. Обязательные поля
                  помечены *
                </p>
                <label class="comments__label textarea" for="">
                  <textarea
                    placeholder="Введите комментарий..."
                    name=""
                    id=""
                    cols="30"
                    rows="10"
                  ></textarea>
                </label>
                <label class="comments__label" for="">
                  <input type="text" placeholder="Имя*" name="" id="" />
                  <input type="email" placeholder="Email*" name="" id="" />
                  <input type="text" placeholder="Сайт" name="" id="" />
                </label>
                <div class="comments__form-confirm">
                  <input type="checkbox" />
                  <p>
                    Сохранить моё имя, email и адрес сайта в этом браузере для
                    последующих моих комментариев.
                  </p>
                </div>
                <button class="comments__btn" type="submit">
                  Оставить комментарий »
                </button>
              </form>
            </div>
          </section>
          <section class="leave" id="leave">
            <div class="comment__ansver-logo">
              <h3 class="comments__answer-title">Оставьте комментарий</h3>
            </div>
            <form action="" class="comments__form">
              <p class="comments__form-text">
                Ваш адрес email не будет опубликован. Обязательные поля помечены
                *
              </p>
              <label class="comments__label textarea" for="">
                <textarea
                  placeholder="Введите комментарий..."
                  name=""
                  id=""
                  cols="30"
                  rows="10"
                ></textarea>
              </label>
              <label class="comments__label leave__flex" for="">
                <input type="text" placeholder="Имя*" name="" id="" />
                <input type="email" placeholder="Email*" name="" id="" />
                <input type="text" placeholder="Сайт" name="" id="" />
              </label>
              <div class="comments__form-confirm">
                <input type="checkbox" />
                <p>
                  Сохранить моё имя, email и адрес сайта в этом браузере для
                  последующих моих комментариев.
                </p>
              </div>
              <button class="comments__btn" type="submit">
                Оставить комментарий »
              </button>
            </form>
          </section>
        </main>
      </div>
      {% include 'include/footer.html' %}
    </div>
    {% endblock %}