<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./icons/all.min.css" />
    <link rel="stylesheet" href="./style/style.css" />
  </head>
  <body>
    <div class="page-container">
      <div class="content-wrap">
        <header class="header">
          <div class="header__top">
            <div class="header__content container">
              <div class="header__title">
                <div class="header__title-phone">
                  <i class="fa-solid fa-phone"></i>
                  <h3>03947-92394</h3>
                </div>
                <div class="header__title-email">
                  <i class="fa-solid fa-envelope"></i>
                  <h3>sh.gim.pushkina@mail.ru</h3>
                </div>
              </div>
              <div class="header__logo">
                <i class="fa-brands fa-facebook"></i>
                <i class="fa-brands fa-youtube"></i>
                <i class="fa-brands fa-instagram"></i>
              </div>
            </div>
          </div>
          <div class="header__bottom">
            <div class="header__container container">
              <div class="header__titles">
                <h2 class="header__titles-title">А. Навои</h2>
                <p class="header__titles-subtitle">
                  атындагы мектеп гимназия №18
                </p>
              </div>
              <nav class="header__nav">
                <ul class="header__menu">
                  <li class="header__menu-link">
                    <a href="./index.html">Главная</a>
                  </li>
                  <li class="header__menu-link"><a href="#news">Новости</a></li>
                  <li class="header__menu-link">
                    <a href="./about">О школе</a>
                  </li>
                  <li class="header__menu-link">
                    <a href="./acridit">Аккредитация</a>
                  </li>
                  <li class="header__menu-link">
                    <a href="#gallery">Галерея</a>
                  </li>
                  <li class="header__menu-link">
                    <a href="#footer">Контакты</a>
                  </li>
                </ul>
                <div class="burger-menu"><span></span></div>
              </nav>
            </div>
          </div>
        </header>
        <main class="container">
          <section class="hello">
            <h3 class="hello__title">Привет, мир!</h3>
            <div class="hello__links">
              <a class="hello__links-text" href="">1 Комментарий</a>
              /
              <a class="hello__links-text" href="">Без рубрики</a>
              / от
              <a class="hello__links-text" href="">adminpush</a>
            </div>
            <p class="hello__text">
              Добро пожаловать в WordPress. Это ваша первая запись.
              Отредактируйте или удалите ее, затем начинайте создавать!
            </p>
          </section>
          <section class="comments">
            <h3>1 комментарий к “Привет, мир!”</h3>
            <div class="comments__content">
              <div class="comments__logo">
                <img
                  src="./images/d7a973c7dab26985da5f961be7b74480.png"
                  alt=""
                />
                <div class="comments__content-text">
                  <b><a href="">КОММЕНТАТОР WORDPRESS</a></b>
                </div>
              </div>
            </div>
          </section>
        </main>
      </div>
      <footer class="footer">
        <div class="footer__top">
          <div class="container">
            <div class="footer__content">
              <div class="footer__contact">
                <h2 class="footer__contact-title">Наши контакты</h2>
                <span></span>
                <div class="footer__logo">
                  <i class="fa-brands fa-facebook"></i>
                  <i class="fa-brands fa-youtube"></i>
                  <i class="fa-brands fa-instagram"></i>
                </div>
              </div>
              <div class="footer__email">
                <h2 class="footer__email-text">
                  Тоң району, Кажы-Сай айылы <br />
                  Космонавтов көчөсү 28
                </h2>
                <p class="footer__email-link">
                  <a href="">03947-92394 <i class="fa-solid fa-phone"></i></a>
                </p>
                <h3 class="footer__email-email">
                  <a href=""
                    >sh.gim.pushkina@mail.ru <i class="fa-solid fa-envelope"></i
                  ></a>
                </h3>
              </div>
            </div>
            <div class="footer__nav">
              <ul class="footer__menu">
                <li class="footer__menu-links">
                  <a href="./index.html">Главная</a>
                </li>
                <li class="footer__menu-link"><a href="#news">Новости</a></li>
                <li class="footer__menu-link">
                  <a href="./about">О школе</a>
                </li>
                <li class="footer__menu-link">
                  <a href="./acridit">Аккредитация</a>
                </li>
                <li class="footer__menu-link">
                  <a href="#gallery">Галерея</a>
                </li>
                <li class="footer__menu-link">
                  <a href="#footer">Контакты</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="footer__bottom">
          <p>© 2022 pushkina.edu.kg. Все права защищены.</p>
        </div>
      </footer>
    </div>
    <script src="./main.js"></script>
    <script src="./icons/all.min.js"></script>
  </body>
</html>
